.bg-footer{
    background-color: #4D6737;
}

.rede_social_footer i{
    font-size: 20px;
    color: #ffffff;
    
}

.icone_contato{
    font-size: 19px;
    color: #000;
    margin-right: 1rem;
}

.contato h3{
    text-align: center;
    margin: 70px 20px 10px;
    
}
.contato input, .form-control{ 
    border: 1px solid #4D6737;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    

}

.btn-enviar {
    border: 1px solid #4D6737;
    padding: 10px 60px;
    border-radius: 8px;
    color: #4D6737;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
   
  }

  .btn-enviar:hover{
    background-color: #4D6737;
    color: white;
    text-decoration: none;
  }

.caixa_contatopessoal{
    margin-top: 30px;
    margin-bottom: 14px;
}

.caixa_formulario .form-row{
    margin-bottom: 14px;
}

.form-row-textarea{
    padding-right: 5px;
    padding-left: 5px;
}
.contato{
    margin-bottom: 70px;
}