
.bg-green-hard {
    background-color: #4D6737; 
}

.text_nav {
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
    margin: 0 15px;
}

.text-nav {
    font-size: larger;
    
}

a:hover {
    font-weight: bold;
}

.img-banner {
    height: 64vh;
    object-fit: cover;
    object-position: 0 46%;
    width: 100vw;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.logo {
    position: absolute;
    width: 159px;
    top: -3px; 
    z-index: 999;
}


    
